.App {
  text-align: center;
}

.app{
  display: block;
  margin: 0 auto;
  padding: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-container {
    height: 600px;
    display: block;
    margin: 0 auto;
    background: #f8f8f8 !important;
    border-radius: 10px !important;
    z-index: 1;
}

.filters, .results-table, .buffers{
    min-height: 250px;
    background: #f8f8f8;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    margin-top: 0px;
}

.empty-table{
    background: #f8f8f8;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
    margin-top: 0px;
}

.filters *{
    font: 14px 'Lucida Console', Monaco, monospace !important;
}

.buffers *{
  font: 14px 'Lucida Console', Monaco, monospace !important;
}

.leaflet-bar a{
	border-bottom: none !important;
	background: none !important;
	color: blue !important;
}

.leaflet-touch .leaflet-bar {
    border: 2px solid blue !important;
}

.leaflet-control-zoom a:hover{
	background: blue !Important;
	color: white !important;
}

.leaflet-top{
	top: 50% !important;
	margin-top: 0px !important;
}

.leaflet-control{
	margin-top: 0px !important;
}

.leaflet-control-attribution{
	display: none !Important;
}

#sql-editor{
    display: none !important;
    max-width: 95%;
    min-width: 95%;
    height: 150px;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    border: none;
    padding: 20px;
}

.filter-button{
  margin: 10px;
}

.spinner-border{
  margin: 0 auto;
}

.right-side{
  width: 100%;
}

.left-side{
  width: 100%;
  display: flex;
  padding-top: 10px;
}

table{
  background: none !important;
  padding: 0 !important;
  table-layout: fixed;
}

td{
  overflow: scroll;
}

th{
  overflow: scroll;
}

.bottom-side{
  padding: 10px;
  padding-top: 0px;
}

.top-side{
  display: block;
  padding: 10px;
  padding-bottom: 0px;
}

.pagination-nav{
  position: fixed;
  bottom: 10px;
  right: 50px;
}

.limit-filter input{
  width: 100%;
}

.limit-filter{
  padding: 10px;
}

.limit-filter span{
  padding-right: 10px;
}

.btn-light{
  z-index: 5;
  position: absolute;
  top: 15px;
  right: 15px;
  background: none !important;
  border: 2px solid blue !important;
}

.btn-light span{
  color: blue;
}

.toggledOff{
  display: none !important;
}

.toggledFull{
    width: 100% !important;
    padding-left: 0px;
    height: 92vh;
}

.toggledFull .leaflet-container {
    height: 92vh;
    display: block;
    margin: 0 auto;
    background: #f8f8f8 !important;
    border-radius: 20px !important;
    z-index: 1;
}


.first-gis {
    stroke: blue !important;
    stroke-width: 1px !important;
    fill: rgba(0,0,255,0.3) !important;
}

.second-gis {
    stroke: red !important;
    stroke-width: 1px !important;
    fill: none !important;
    fill: none !important;
}

.third-gis {
    stroke: green !important;
    stroke-width: 1px !important;
    fill: none !important;
    fill: rgba(0,255,0,0.4) !important;
}


.filters-row, .buffer-row{
  padding: 10px;
  padding-bottom: 10px;
  display: flex;
}

.filters-row label, .Mui-error, .buffer-filter label{
  font-size: 10px !important;
}

.buffer-row label{
  font-size: 10px !important;
}

.ftypes-filter{
  display: flex;
}

.ftypes-filter div{
  padding-right: 10px;
}

.ftypes-filter input{
  margin-right: 5px;
}

td{
  max-width: 200px;
  overflow: scroll;
}

.add-marker{
  z-index: 1000 !important;
  position: fixed;
  right: 31px;
  top: 75px;
}

.leaflet-tile {
    opacity: 1 !important;
}

tr:hover{
  cursor: crosshair;
}

.map-view{
  cursor: crosshair !important;
}

.street-filter .MuiFormControl-root{
  width: 100% !important;
}

.selected-indicator{
  stroke: red !important;
  fill: red !important;
  stroke-width: 5px !important;
}

.header-row{
  text-align: center;
}

.buffers{
  width: 40%;
  margin-right: 10px;
  overflow: hidden;
}

.filter-group{
  border-radius: 10px;
  border-left: 1px solid rgb(221, 221, 221);  
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.condition-group{
  position: relative;
  top: 7px;
  left: 11px;
  background: #f8f8f8;
  padding: 0px 10px;
}

.remove-filter-row{
  border: none;
  background: none;
  color: red;
  padding-right: 15px;
  padding-top: 14px;
}

.remove-filter-row:hover{
  text-decoration: underline;
}

.add-condition{
  margin: 0 auto;
  display: flex;
  margin-top: 10px;;
}

.condition-tf{
  margin-top: 10px !important;
}

.add-condition button{
  margin: 0 auto;
  display: block;
}

.filters{
  width: 60%;
  overflow: scroll;
}

.buffer-gis-0{
  stroke: rgb(209, 254, 110) !important;
  fill: rgb(209, 254, 110);
  fill: none !important;
}

.buffer-gis-1{
  stroke: rgb(223, 110, 254) !important;
  fill: rgb(223, 110, 254);
  fill: none !important;
}

.buffer-gis-2{
  stroke: rgb(110, 254, 242) !important;
  fill: rgb(110, 254, 242);
  fill: none !important;
}

.buffer-gis-3{
  stroke: rgb(254, 110, 110) !important;
  fill: rgb(254, 110, 110);
  fill: none !important;
}

.buffer-gis-4{
  stroke: rgb(255, 255, 255) !important;
  fill: rgb(255, 255, 255);
  fill: none !important;
}

.address-bar{
  position: fixed;
  z-index: 100;
  background: white;
}

.address-search{
  width: 300px;
  margin-right: 10px !important;
}

.address-search label{
  top: -3px;
  font-size: 14px;
}

.address-bar button{
  height: 44px;
}


.buffer-filter {
    padding-right: 10px;
}

.search-buttons-group{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.full-query{
  position: fixed;
    bottom: 0px;
    left: 0;
    background: #cadcff;
    width: 100%;
    padding: 20px;
}

.add-buffer{
}

.section-title{
  font-weight: 600 !important;
  font-style: italic !important;
  padding: 5px;
  text-align: center;
  color: blue;
}

.section-subline{
  text-align: center;
  font-size: 10px !important;
  font-style: italic !important;
  font-weight: 600 !important;
}

.buffer-buttons{
  display: block;
  margin-top: 5px !important;
  margin: 0 auto;
  text-align: center;
}

.buffer-buttons button{
  margin: 5px;
}

.filter-buffer-span{
  font-weight: 600;
  font-style: italic;
}



.filter-buffer-field-span{
  margin-left: 0px !important;
}

.filter-buffer-divider{
  border-bottom: 1px solid #80808073;
  width: 80%;
  margin: 10px auto;
}

.MuiOutlinedInput-root {
  height: 45px;
}

.MuiOutlinedInput-root div{
  min-height: inherit !important;
}

.buffer-body{
  margin-top: 10px;;
}

.buffer-fields-group{
  max-height: 400px;
  overflow-y: scroll;
}

.buff-filter-a .MuiOutlinedInput-root{
  max-width: 300px !important;
  overflow: hidden !important;
}

.autocomplete-tf .MuiOutlinedInput-root{
  height: auto;
}

.buff-filter-b .MuiOutlinedInput-root{
  max-width: 800px !important;
  overflow: hidden !important;
}

.base-table{
  text-align: center;
    margin-top: 14px;
}

.leaflet-draw{
  margin-top: 15px !important;
}

.leaflet-draw-toolbar{
  width: 116px;
  padding: 5px;
  text-align: center !important;
}

.sr-only{
  display: contents !important;
}

.leaflet-draw-toolbar.leaflet-bar a {
  margin-top: 0px;
  width: 100% !important;
  text-align: center !important;
  margin: 0 auto;
  display: block !important;
}

.leaflet-draw-toolbar.leaflet-bar a:hover{
  background-color: rgba(201, 202, 249, 0.391) !important;
}

.leaflet-draw-actions{
  display: flex;
  position: relative;
  left: 0px !important;
}

.leaflet-interactive{
  fill: none !important;
  stroke: red;
  stroke-width: 1px;
}